/***

====================================================================
    Clients Section
====================================================================

***/

.client-section {
    position: relative;
    padding: 120px 0 190px;
    @include media-breakpoint-down(lg){
        padding: 80px 0 150px;
    }
    .client-box {
      overflow: hidden;
      &.one {
        padding-bottom: 60px;
        @include media-breakpoint-down(lg){
          padding-bottom: 40px;
        }
      }
      .client-block {
        .inner-block {
          .image {
            img {
              filter: brightness(1) invert(0);
            }
          }
        }
      }
    }
}

.client-block {
    position: relative;
    .inner-block {
        text-align: center;
        &:hover {
            .image {
                img {
                    transform: scale(1.1);
                }
            }
        }
        .image {
            position: relative;
            img {
                filter: brightness(0) invert(1);
                @include transition(all 300ms ease);
            }
        }
    }
}

.client-block-two {
    position: relative;
    .inner-block {
        text-align: center;
        &:hover {
            .image {
                img {
                    filter: brightness(0) invert(1);
                    transform: scale(1.1);
                }
            }
        }
        .image {
            position: relative;
            img {
                @include transition(all 300ms ease);
            }
        }
    }
}